<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Config:etc/system_file.xsd">
    <system>
		<tab id="vastrey" translate="label" sortOrder="400">
            <label>Vastrey</label>
        </tab>
        <section id="storesettings" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
            <label>Vastrey Store Settings</label>
            <tab>vastrey</tab>
            <resource>Kreeva_StoreSettings::config_storesettings</resource>
            <group id="general" translate="label" sortOrder="100" showInDefault="1" showInWebsite="1" showInStore="1">
                <label>Configuration</label>
                <field id="shipping_country_default_store" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Default Store Shipping Country</label>
                    <comment>Default Store Shipping Location Restrict to India.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
                <field id="tax_label" translate="label" type="select" sortOrder="10" showInDefault="1" showInWebsite="1" showInStore="1">
                    <label>Display Tax Label</label>
                    <comment>Display Tax Label in product details page.</comment>
                    <source_model>Magento\Config\Model\Config\Source\Yesno</source_model>
                </field>
            </group>
        </section>
    </system>
</config>
